// Fonts
$font_weight_light: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;

$font_size_1: 1.3rem; //13px
$font_size_2: 1.5rem; //15px
$font_size_3: 2rem; //20px
$font_size_4: 1rem; //10px


// Colors
$body_bgc: #97e5ab;
$color_dark_lighter: #e0e0e0;
$color_dark: #6E6E6E;
$color_light: #FFFFFF;
$color_toggle_bgc_play: #1849AB;
$color_toggle_border: #a4a4ff;
$color_menu_bg: #000000e0;
$color_hover_text: #69a077;
$color_translate_hover: #97e5e5;
$color_numbers_bg: #00a6ffa1;


// Other
$burger_elements_width: 5px;
$burger_elements_color: #fffcfc7d;
$burger_elements_border_radius: 50px;
$transition_standart: all 0.3s;
$category_img_size: 120px;


// Indents
$indent_1: 10px;
$indent_2: 20px